[submodule "display/oled_128x32/fonts"]
	path = display/oled_128x32/fonts
	url = https://github.com/basti79/LCD-fonts.git
[submodule "pi-home-utils"]
	path = pi-home-utils
	url = https://github.com/msmouni/pi-home-utils.git
